# {{ ansible_managed }}
# See https://github.com/AcroMedia/ansible-role-letsencrypt/blob/master/templates/etc/nginx/sites-available/default.LE.j2
server {
  listen {{ http_port }} default_server;
  listen [::]:{{ http_port }} default_server;
  include /etc/nginx/includes/letsencrypt-acme-challenge.conf;
  root /usr/share/nginx/html;
  index index.html index.htm index.nginx-debian.html;
  server_name _;
  location / {
    # First attempt to serve request as file, then
    # as directory, then fall back to displaying a 404.
    try_files $uri $uri/ =404;
  }
}

server {
  listen {{ https_port }} ssl default_server;
  listen [::]:{{ https_port }} ssl default_server;
  include /etc/nginx/includes/letsencrypt-acme-challenge.conf;

  ssl_certificate /etc/letsencrypt/live/{{ default_site_fqdn }}/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/{{ default_site_fqdn }}/privkey.pem;
  ssl_dhparam /usr/local/ssl/private/dhparams.pem;
  ssl_protocols {{ le_nginx_ssl_protocols_default | join (' ')}};
  ssl_ciphers '{{ le_nginx_ssl_ciphers_default | join(':') }}';
  ssl_prefer_server_ciphers on;
  #  # HSTS (ngx_http_headers_module is required) (15768000 seconds = 6 months)
  ## Don't enable this unless you know what it does, and what the downside will be if you have to serve plain HTTP at some point.
  #  add_header Strict-Transport-Security max-age=15768000;
  ssl_stapling on;
  ssl_stapling_verify on;
  ssl_trusted_certificate /etc/letsencrypt/live/{{ default_site_fqdn }}/chain.pem;
  # resolver 8.8.8.8; # is this needed?

  root /usr/share/nginx/html;
  index index.html index.htm index.nginx-debian.html;
  server_name _;
  location / {
    # First attempt to serve request as file, then
    # as directory, then fall back to displaying a 404.
    try_files $uri $uri/ =404;
  }
}
